.root{
    width: 400px;
    border: 2px solid black;
    margin: 4px;
    
}

.root:hover{
    transform: translateY(10px);
}

img{
    height: 300px;
    width: 100%;
    
}

img:hover{
    opacity: 0.5;
}

p{
    text-align: left;
    font-size: larger;
    font-weight: bolder;
}


button{
    height: 20px;
    width: 50px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}